/*Custom Style Sheet*/

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}

.glyphicon {
	color: #cdae51;
}

.active .plyphicon{
	color: #cdae51;
}

.pull-right.img-responsive {
	margin: 0 0 1em 1em;
}

.btn-info {
    background-color: #cdae51;
    border-color: #3F2B22;
    color: #FFFFFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #3F2B22;
  border-color: #333;
}
body{
	padding-top: 70px;
}

.tab-pane{
	border: 0 1px 1px 1px solid #ddd;
	padding: 0.83em;
}